"""
Config file.
"""

"""
Slack token of user to receive messages. This user should be able to read messages you want to receive.
"""
SLACK_COLLECTOR_TOKEN = "xoxp-xxxxx"

"""
Slack token of personal user to read messages. This user posts copied messages, filters unmuted channels.
"""
SLACK_PERSONAL_TOKEN = "xoxp-xxxxx"

"""
Slack channel to post.
"""
SLACK_POST_CHANNEL = "#more-one-memo"

"""
Slack default username (used in debug log)
"""
SLACK_DEFAULT_USERNAME = "Chito"

"""
Slack default icon emoji (used in debug log)
"""
SLACK_DEFAULT_ICON_EMOJI = ":upside_down_face:"

"""
'Kind' of config object in Google DataStore.
"""
DATASTORE_CONFIG_KIND = "more-one-memo-config"

"""
id of config object in Google DataStore.
"""
DATASTORE_CONFIG_ID = "config-id"

"""
Web API KEY.
"""
API_KEY = "api-key"

"""
Web bind host address.
"""
WEB_HOST_ADDRESS = "127.0.0.1"

"""
Web bind port number.
"""
WEB_PORT = 8888
