[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-datastore = "*"
typing = "*"
websocket-client = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.6"
